.jfx-hamburger StackPane{
	-fx-background-color:  #1976D2;
}

#hbox-logotipo{
	-fx-background-radius: 0px 4px 4px 0px;
}

#jfx-button-bar{
	-fx-background-radius: 100;
}

#jfx-button-bar:hover{
	-fx-background-color: #F5F5F5;
}